{
    "input_files": {
        "{{input_files['data'][0]}}": "data_events.root"
    },
    "run_params": "2pt3",
    "detector": "HPS-PhysicsRun2016-Pass2",
    "run_number": {% set splitname = input_files['data'][0].split("/") %} {{splitname[9].split("_")[1].split(".")[0] | int}},
    "run_mode": 1,
    "output_files": {
        "data_events_ana.root": {% set splitname = input_files['data'][0].split("/") %} "{{splitname[9].split(".root")[0]}}_ana_kf.root"
    },
    "output_dir": "/sdf/group/hps/users/alspellm/run/data/ana/kf_041823/output",
    "config_files":{
        "ana": "/sdf/group/hps/users/alspellm/run/data/ana/kf_041823/anaKalSimpTuple_cfg.py"
    },
    "year": 2016
}
